In [1]:
name = "Mobin"
age = 23
color = "Blue"

print(f"My name is {name}, I am {age} years old, and my favorite color is {color}.")

My name is Mobin, I am 23 years old, and my favorite color is Blue.

In [2]:
a, b = 5, 10
a, b = b, a
print(f"a={a} & b={b}")

a=10 & b=5

In [4]:
length = 15
width = 8
area = length * width
print(f"Area: {area}")

Area: 120

In [6]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Hello {name}, you are {age} years old.")

Enter your name: Mobin
Enter your age: 23
Hello Mobin, you are 23 years old.

In [9]:
x = float(input("Enter first number: "))
y = float(input("Enter second number: "))

print(f"Sum: {x+y}")
print(f'Difference: {x-y}')
print(f'Product: {x*y}')
print(f'Division: {x / y if y != 0 else "Cannot divide by zero"}')

Enter first number: 5
Enter second number: 10
Sum: x+y
Difference: -5.0
Product: 50.0
Division: 0.5

In [11]:
birth_year = int(input("Enter your birth year: "))
current_year = 2025
print(f"Your age is: {current_year - birth_year}")

Enter your birth year: 1989
Your age is: 36

In [12]:
fruits = ['Apple', 'Banana', 'Orange', 'Mango', 'Grapes']
print(f'Second fruit: {fruits[1]}')
print(f'Last fruit: {fruits[-1]}')

Second fruit: Banana
Last fruit: Grapes

In [13]:
numbers = []
for i in range(5):
  numbers.append(float(input(f"Enter your {i+1} th number: ")))

print(f'Max: {max(numbers)}')
print(f'Min: {min(numbers)}')

Enter your 1th number: 13.4
Enter your 2th number: -87.3
Enter your 3th number: 105
Enter your 4th number: 2004
Enter your 5th number: 0
Max: 2004.0
Min: -87.3

In [15]:
numbers = [1, 2, 2, 3, 4, 4, 5, 1, 6, 4, 4, 4, 4]
unique = list(set(numbers))
print(f"Unique numbers: {unique}")

Unique numbers: [1, 2, 3, 4, 5, 6]

In [16]:
numbers = [1, 2, 2, 3, 4, 4, 5, 1, 6, 4, 4, 4, 4]
unique = []
for number in numbers:
  if number not in unique:
    unique.append(number)
print(f"Unique numbers: {unique}")

Unique numbers: [1, 2, 3, 4, 5, 6]

In [17]:
colors = ("Red", "Green", "Blue", "Yellow", "Black")
print(f'First color: {colors[0]}')
print(f'Last color: {colors[-1]}')

First color: Red
Last color: Black

In [18]:
my_list = [1,2,3]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3)

In [20]:
my_set = {1, 2, 3, 4, 1, 1}
print(my_set)

{1, 2, 3, 4}

In [22]:
my_dict = {
    'name': "Mobin",
    'age': 23,
    'city': "Tehran"
}

print(my_dict)
print(type(my_dict))

{'name': 'Mobin', 'age': 23, 'city': 'Tehran'}
<class 'dict'>

In [23]:
the_list = [1 , 2 , "selma" , 22.12 , True]
print(type(the_list))

the_tuple = tuple(the_list)

print(the_tuple)

print(f'the type of this variable is {type(the_tuple)}')

<class 'list'>
(1, 2, 'selma', 22.12, True)
the type of this variable is <class 'tuple'>

In [26]:
numbers = (1, 2, 3, 2, 4, 2, 5, 6, 6, 6)
target = int(input("Enter a number to count: "))
print(f'{target} appears {numbers.count(target)} time(s).')

Enter a number to count: 2
2 appears 3 time(s).

In [27]:
def add_numbers(a, b):
  return a + b

print(add_numbers(5, 10))

15

In [28]:
def largest_number(lst):
  return max(lst)

print(largest_number([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

10

In [31]:
def count_vowels(s):
  vowels = "aeiou"
  return sum(1 for c in s if c.lower() in vowels)

print(count_vowels('orange'))

3

In [34]:
def count_vowels2(s):
  vowels = "aeiou"
  count = 0
  for i in s:
    if i.lower() in vowels:
      count += 1
  return count

print(count_vowels2('OrAnge'))

3

In [36]:
"Mobin".lower()

'mobin'

In [40]:
vowels = "aeiou"
list(1 for c in "Mobin" if c.lower() in vowels)

[1, 1]

## Mini Project:
In this mini project, I've implemented a smart shopping cart system which
gets a list of items and display their name and price and also compute the total cost and the most expensive item in shopping cart.

In [43]:
def display_items(items):
  """
  Display a list of items and their prices.

  Args:
    items: A list of tuples, where each tuple contains the name and price of an item.

  Returns:
    None
  """
  print("\n 🛒 Shopping List: ")
  for name, price in items:
    print(f'\t - {name}: ${price}')
  print()

def calculate_total(items):
  return sum(price for _, price in items)

def find_most_expensive(items):
  max_price = 0
  most_expensive = None
  for name, price in items:
    if price > max_price:
      max_price = price
      most_expensive = name
  return most_expensive

In [41]:
items = []
n = int(input("Enter the number of items: "))
for i in range(n):
  name = input(f"Enter the name of item {i+1}: ")
  price = float(input(f"Enter the price of {name}: "))
  items.append((name, price))

display_items(items)
print(f"💰 Total cost: {calculate_total(items)}")
expensive = find_most_expensive(items)
print(f"🔥 Most expensive item: {expensive}")

Enter the number of items: 4
Enter the name of item 1: Apple
Enter the price of Apple: 2
Enter the name of item 2: Chips
Enter the price of Chips: 5
Enter the name of item 3: Sauce
Enter the price of Sauce: 3
Enter the name of item 4: Cup
Enter the price of Cup: 10

 🛒 Shopping List:
	 - Apple: $2.0
	 - Chips: $5.0
	 - Sauce: $3.0
	 - Cup: $10.0

💰 Total cost: 20.0
🔥 Most expensive item: Cup

## How to use Lambda Function:

In [50]:
def find_most_expensive(items):
  tmp = sorted(items, key=lambda x: x[1])
  return tmp[-1]

In [51]:
items = [("Apple", 2), ("Chips", 5), ("Cup", 3), ("Sauce", 10)]
print(find_most_expensive(items))

('Sauce', 10)